<h1>New Poll</h1>

<form id='form_stuff'>
  <input id='name' type="text">
  <input type="submit">
</form>

<script type="text/javascript">
  $('#form_stuff').on("submit", function(){
    $.ajax({
      url: "poll",
      type: "post",
      dataType: "json"
      data: $('#name').value
    }).done({})
  })
</script>
